* {
    margin: 0;
}

.container {
    margin: auto 25% auto 25%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    background: rgb(0,0,0);
    color: rgb(255, 255, 255);
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 17, 255);
}


.menu{
    height: 10vh;
    display: flex;
    background-color: rgb(37, 37, 39);
    align-items: center;
}