* {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    background: rgb(0,0,0);
    color: rgb(255, 255, 255);
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: rgb(0, 17, 255);
}